<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"> </script>

<div class="swiper">
    <div class="swiper-wrapper">
        {% for block in section.blocks %}
        <div class="swiper-slide"><img src="{{ block.settings.img | img_url: '800x' }}"></div>
        {% endfor %}
    </div>
</div>
<script>
    var mySwiper = new Swiper('.swiper', {
        autoplay: true,//可选选项，自动滑动
    })
</script>

{% schema %}
{
"name": "轮播图",
"settings": [
{
"type": "html",
"id": "content",
"label": "其他信息内容",
"info": "这是付款按钮下方的内容"
}
],
"blocks": [
{
"type": "image_picker",
"name": "slide",
"settings": [
{
"type": "image_picker",
"id": "title",
"label": "标题",
"info": "Maximum logo dimensions are 200px wide by 40px high."
}
]
}
]
}
{% endschema %}