<link rel="stylesheet" href="{{ 'header.css' | asset_url }}" media="print" onload="this.media='all'">
<header class="header section">
  <div class="logo">heroiscomeback</div>
  <div class="search">
    <from action="">
      <input type="text">
    </from>
  </div>
  <div class="login"></div>
</header>